.associate-container {
  padding-top: 40px;
  padding-bottom: 40px;

  .create-account-form{
    .form-control{
      max-width: 360px;
    }
  }
  .xline-bottom {
    position: relative;
    margin-top: 30px;
    background-color: #f0f8ff;
    opacity: 0.2;
    &::before,
    &::after {
      display: none;
    }
  }

  .page-header > h1, .form-heading {
    color: #B4E6FF;
    text-shadow: 0 1px 8px #00ABFF;
  }

  h2{
    font-family: $font-heading;
    font-size: 28px;
    color: #63CECA;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .v-select.dropdown{
    max-width: 360px;
  }
}
