.btn,
a.btn {
  border-radius: 4px;
  padding: 18px 25px;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  color: #033C89;
  border: 0;
}

.btn-sm,
a.btn-sm {
  padding: 10px 15px 9px 15px;
  font-size: 16px;
}

.btn-primary,
a.btn-primary {
  color: #fff;
  background-image: linear-gradient(-180deg, #fad961 0%, #f76b1c 100%);
  border: 0;
}
