.countdown-container {
    font-size: 1.25em;

    .header > div {
        margin: 0 auto;
        float: none;
        text-align: center;
    }

    h1 {
        font-size: 4em;
        text-shadow: 0 1px 8px #00ABFF;
    }

    #countdown {
        font-size: 1.5em;
        color: #FFF;
    }

    #wishes {
        text-transform: uppercase;
    }

    #social-media {
        font-size: 1.5em;

        a {
            color: #FFF;
        }

        img {
            height: 1.25em;
        }
    }

    #subscribe {
        display: inline-block;
        padding: 0.5em 1em;
        margin: 1em auto;
        background: #FFF;
        border-radius: 4px;

        >div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        input {
            color: #000;
        }

        .btn {
            padding: 0.5em 1em;
            color: #FFF;
            background: #003A99;
            text-transform: none;
        }

        #status {
            margin: 0;

            &.visible {
                margin: 1em 0 0 0;
            }
        }
    }
}
