.doc-container{
  margin-top: 50px;
  // .list-nav{
  //   > li > a, > li > span{
  //     color: #858E92;
  //   }
  //   .sub-list-ha{
  //     > li > a{
  //       color: #858E92;
  //     }
  //     > li:before{
  //       color: #858E92;
  //     }
  //   }
  // }

  // customize the width of the side bar in the doc
  .doc-nav{
    @media screen and (min-width: $screen-md-min) {
      width: 20%; 
    }
  }
  .learnpage-content{
    @media screen and (min-width: $screen-md-min) {
      width: 80%;
    }
  }
}

.sidebar-heading{
  font-weight: bold;
  font-size: 20px;
  color: #97DDFF;
  text-transform: uppercase;
  text-shadow: 0 1px 8px #00ABFF;
}

.doc-content-header, .doc-content-container{
  h1, h2, h3, h4 ,h5, h6{
    font-family: $font-heading;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #033C89;
    text-transform: uppercase;
  }
  h1{
    text-align: left;
    font-size: 36px;
    font-weight: 300;
  }
  h2{
    font-size: 32px;
    font-weight: 300;
  }
  h3{
    font-size: 28px;
    font-weight: 300;
  }
  h4{
    font-size: 24px;
  }
  h5{
    font-size: 20px;
  }
  h6{
    font-size: 18px;
  }
}

.doc-content-header{
  padding: 10px 0;
  color: #191822;
  margin-bottom: 10px;

  .page-header{
    margin: 0;
    padding: 0;
    padding-bottom: 0;
  }
  h1{
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: #B4E6FF;
    text-shadow: 0 1px 8px #00ABFF;
  }

  .section-nav{
    list-style-image: disc;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    li{
      display: block;
      width: 50%;
      padding-left: 20px;
      position: relative;
      &:before{
        content: "\25CF";
        position: absolute;
        left: 3px;
      }
      a{
        font-family: $font-heading;
        font-size: 2rem;
        color: #251824;
        letter-spacing: 1px;
      }
    }
  }
}

.doc-content-container{
  color: #52678D;
  font-size: 18px;
  border-radius: 4px;
  
  pre{
    padding: 0px;
    background: transparent;
    border: 0px;
  }
  h2{
    text-transform: uppercase;
  }
  .btn-center{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 10px;
  }

  blockquote{
    margin-left: -20px;
    margin-right: -20px;
    background-image: url("/assets/images/quotebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    border-left: 0;
    padding-top: 40px;
    padding-bottom: 40px;

    font-family: $font-heading;
    color: $yellow;
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: 1px;
    cite{
      font-family: $font-body;
      color: $foreground;
      font-size: 1.8rem;
      font-style: normal;
    }
  }
}
.static-container{
  img{
    max-width: 100%;
  }
}


.doc-section{
  padding: 40px 15px 15px 15px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
  background-image: url("/assets/images/doc-bg.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #52678D;
  @media screen and (min-width: $screen-md-min){
    padding: 40px 30px 15px 30px;
  }
  .sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #414141;
  }
  h4{
    font-size: 24px;
    font-weight: 600;
    color: #033C89;
  }
  h5{
    font-size: 20px;
    font-weight: 600;
    color: #292929;
    text-transform: none;
    line-height: 1.3em;
  }
  .table-container{
  }
}

.column-container{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
  @media (min-width: $screen-md-min){
    display: flex;
  }
  .col{
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: $screen-md-min){
      flex: 1;
      h1, h2, h3, h4, h5, h6{
        margin-top: 0;
      }
    }
  }
}

.build-a-bot{
  background-image: url("/assets/images/bg-build.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  border-radius: 8px;
  a{
    color: #fff;
  }
}