$mobile-breakpoint: 991px;

header.unloaded{
  opacity: 0;
  transition: 200ms opacity;
}

.navbar-brand{
  padding: 15px 15px 0 15px;
  img{
    max-width: 100px;
    width: 100px;
    @media (max-width: $screen-sm-max){
      transform: translateY(5px);
    }
  }
  @media (min-width: $screen-md-min){
    img{
      max-width: 150px;
      width: 150px;
    }
  }
}
#navbar{
  @media (max-width: $mobile-breakpoint){
    transform: translateY(9px);
  }
}
.navbar-header{
  @media (max-width: $mobile-breakpoint){
    margin-right: -15px !important;
    margin-left: -15px !important;
    transform: translateY(5px);
    float: none;
  }
}

#navbar{
  @media (max-width: $mobile-breakpoint){
    margin-right: -15px;
    margin-left: -15px;
  }
  .navbar-nav{
    @media (max-width: $mobile-breakpoint){
      margin-top: 0;
      margin-bottom: 0;
      float: none;
      > li {
        float: none;
      }
      > li > a{
        text-align: center;
        line-height: 40px;
      }
    }
  }
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
  max-height: 540px;
}

.navbar-fixed-top{
  @media screen and (min-width: $screen-md-min) {
    position: relative;
    top: auto;  
  }
}

@media (max-width: $mobile-breakpoint){
  .navbar-collapse.collapse {
    display: none !important;
    padding-bottom: 0;
    // overflow: auto !important;
    &.in{
      display: block !important;
    }
  }
  .navbar-toggle{
    display: block;
  }
  .navbar-nav > li > a{
    display: block;
    position: relative;
    padding: 5px;
    min-height: 50px;
    text-transform: uppercase;
    color: #91DBFF;
    text-shadow: 0 -1px 13px #00ABFF;
  }
  .navbar-collapse{
    box-shadow: none;
  }
}

.navbar-inverse{
  $g-color: #b9b8b8;
  background-color: #FFF;

  // disable border color when expand menu
  .navbar-collapse{
    border-color: transparent;
    
  }
  // color: #000;
  .navbar-nav{
    > li > a {
      position: relative;
      min-height: 50px;
      color: #91DBFF;
      text-shadow: 0 -1px 13px #00ABFF;
      text-transform: uppercase;
      font-size: 0.8em;
      padding: 15px;
      background-color: transparent;
      @media (max-width: $mobile-breakpoint){
        padding: 5px;
      }
      span{
        font-weight: 400;
        display: block;
        padding: 5px 15px;
      }
      .xline-bottom{
        bottom: -1px;
        opacity: 0;
        @media (max-width: $screen-sm-max){
          display: none;
        }
      }

      &:hover {
          color: #91DBFF !important;
          text-shadow: 0 -1px 13px 0 #00ABFF;
          &:before{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            background: linear-gradient(180deg, rgba(117,182,219,0) 0%, #97DDFF 100%);
          }
          &:after{
            content: "";
            position: absolute;
            display: block;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 2px;
            opacity: 0.3;
            background-color: rgba(145,219,255,0.3);
          }
      }
    }
    > li {
      &.nav-login, &.nav-footer {
        &:hover {
          &::before, &::after {
            display: none;
          }
        }
      }
      &.nav-login {
        > a {
          &:hover {
            color: #20bfc1 !important;
            &:before, &:after {
              display: none;
            }
          }
        }
      }
    }
    > li.active{
      > a{
        background-color: transparent;
        position: relative;
        @media (min-width: $mobile-breakpoint + 1){
          &:before{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            background: linear-gradient(180deg, rgba(117,182,219,0) 0%, #97DDFF 100%);
          }
          &:after{
            content: "";
            position: absolute;
            display: block;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 2px;
            opacity: 0.3;
            background-color: #91DBFF;
          }
          &:hover{
            background-color: transparent;
          }
          span{
            font-weight: 400;
            color: #91DBFF;
            text-shadow: 0 -1px 13px 0 #00ABFF;
          }
        }
      }
    }

    @media screen and (max-width: $mobile-breakpoint) {
      > li {
        border-bottom: 1px solid rgba(145, 219, 255, 0.2);
        padding: 15px 0;
        &:hover {
          color: #91DBFF !important;
          text-shadow: 0 -1px 13px 0 #00ABFF;
          &:before{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            background: linear-gradient(180deg, rgba(117,182,219,0) 0%, #97DDFF 100%);
          }
          &:after{
            content: "";
            position: absolute;
            display: block;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 2px;
            opacity: 0.3;
            background-color: rgba(145,219,255,0.3);
          }
        }
        > a{
          line-height: 35px;
          padding: 0 5px;
          min-height: auto;
          &::before, &::after {
            display: none !important;
          }
          > span{
            padding: 0;
          }
        }
        &.active > a{
          color: inherit;
          background-color: transparent;
          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
  }
}

.navbar-collapse {
  .halite-nav-right {
    float: right !important;
  }
  @media (max-width: $mobile-breakpoint) {
    overflow-y: visible !important;
    .halite-nav-right {
      position: relative;
      left: -15px;
      margin: 0 !important;
      width: 100%;
      .logged-in {
        .profile-container {
          padding: 0 !important;
          border-left: none !important;
          background: transparent !important;
          >a {
            margin: auto; 
            .profile-nav {
              left: 50%;
              transform: translateX(-100px);
            }
          }
        }
      }
    }
  }
}

header.navbar{
  border-bottom: 1px transparent;
  height: 61px;
  background-image: linear-gradient(0deg, #002D77 0%, #003A99 100%);

  @media (max-width: $mobile-breakpoint){
    height: auto;
    min-height: 61px;
  }

  @media (min-width: $screen-md-min){
    min-height: 50px;
    margin-bottom: 20px;
    // box-shadow: 0 0 10px 10px rgba(0, 45, 119, 0.2);
    &:after{
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 1px;
      z-index: 1;
      background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(25,187,232, 0.25) 50%, rgba(255,255,255,0) 100%);
    }
  }
  @media (max-width: $mobile-breakpoint){
    #submitbutton{
      display: none !important;
    }
  }
  .not-logged-in{
    background-size: 200px 40px !important;
    >li{
      >a{
        transform: translateY(1px);
      }
      padding: 0px 5px;
      >img {
        height: 34px;
      }
      >a>i{
        margin-top: -2px;
        transform: translateY(1px);
      }
    }
  }
  .logged-in {
    position: relative;
    right: auto;
    top: auto;
    .navbar-right{
      li a {
        transform: translateY(1px);
        @media (max-width: $screen-sm-max){
          transform: translateY(11px);
        }
      }
    }
    .submit-bot{
      display: inline-block;
      margin: 0;
      height: 60px;
      background-size: 160px 40px;
      float: none !important;
      @media (max-width: $screen-sm-max){
        transform: translateY(-10px);
      }
    }
    img {
      height: 34px;
    }
    .profile-container{
      display: flex;
      align-items: center;
      margin-right: -15px;
      padding: 0 14px;
      height: 60px;
      vertical-align: top;
      background: linear-gradient(0deg, #081D57 0%, #05327B 100%);	
      box-shadow: 8px 21px 36px 0 rgba(23,174, 219, 0.05);
      border-left: 1px solid rgba(145, 219, 255, 0.2);
      cursor: pointer;
      .user-name {
        margin-left: 5px;
        font-size: 18px;
        color: #91DBFF;
        text-shadow: 0 -1px 13px 0 #00ABFF;
      }
      .fa-sort-down {
        margin-top: -12px;
        margin-left: 28px !important;
        &::before{
          position: relative;
          top: -4px;
        }
      }
      > a > img {
        width: 42px;
        height: 42px;
        border: 0.8px solid #91DBFF;	
        border-radius: 3.2px;
      }
      > a:hover{
        text-decoration: none;
      }
      i{
        color: #FFF;
        margin-left: 3px;
      }
      ul{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        list-style: none;
        background-color: $gray-bg;
        border-radius: 4px;
        &:before, &:after{
          position: absolute;
          display: inline-block;
          content: "";
        }
        &:before{
          top: -16px;
          right: 9px;
          left: auto;
          border: 8px solid transparent;
          border-bottom-color: rgba(27,31,35,0.15);
        }
        li{
          a{
            color: #9d9d9d;
            .line-bottom{
              padding: 0;
              background-color: #889295;
              transform: translateX(-3px);
              opacity: 0;
            }
          }
        }
      }
    }
    ul li a i{
      background: $dark-gray;
      color: $yellow;
      padding: 3px 2px;
      margin-right: 5px;
      font-size: 14px;
      transform: translateY(-1px);
    }
    .popup-container{
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(37,36,47,0.3);
      .container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        .popup-pane{
          background-color: #1c1A27;
          padding:10px;
          i{
            float: right;
            color: #9d9d9d;
            font-size: 16px;
            cursor: pointer;
          }
          .content{
            margin: 20px;
            padding: 40px;
            border: 2px dashed #9d9d9d;
            .icon{
              width: 60px;
              height: 72px;
            }
            p{
              margin-top:10px;
              &.p1{
                font-family: $font-headline;
                font-size: 2rem;
              }
              &.p2{
                color: #9d9d9d;
              }
            }
            .button{
                background: #FFF;
              padding: 5px 20px;
              width: 190px;
              margin-left: auto;
              margin-right: auto;
              margin-top: 60px;
              cursor: pointer;
              font-family: $font-headline;
              font-size: 1.8rem;
              span{
                transform: translateY(2px);
                color: $dark-gray;
                line-height: 20px;
                padding: 3px;
                display: inline-block;
                letter-spacing: 1px;
              }
            }
          }
        }
      }
    }
  }

  // display subnav when hover
  @media (min-width: $screen-md-min){
    .navbar-nav > li:hover{
      > .nav-sub{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  // Sub nav style
  .nav-sub{
    background-color: transparent;
    > li {
      > a{
        padding: 13px 15px;
        display: block;
        line-height: 1.4em;
        opacity: 0.6;
        font-size: 14px;
        color: #97DDFF;
        font-weight: 400;
        height: auto;
        position: relative;
      }
    }

    // mobile version
    @media (max-width: $screen-sm-max){
      > li {
        > a{
          text-align: center;
        }
      }
    }

    // desktop version
    @media (min-width: $screen-md-min){
      opacity: 0;
      visibility: hidden;
      transition: all 300ms;
      border: 1px solid #003A95;
      border-radius: 0 0 4px 4px;
      position: absolute;
      top: calc(100% + 1px);
      left: 0;
      > li:last-child{
        border-radius: 0 0 4px 4px;
      }
      > li {
        background: #001C4C;
        min-width: 230px;
        > a {
          color: #91DBFF;
          text-shadow: 0 -1px 13px #00ABFF;
          padding: 13px 15px;
          border-left: 2px solid transparent;
          @include before-block();
        }
        &.active > a, > a:hover{
          color: #91DBFF;
          opacity: 1;
          text-shadow: 0 -1px 13px 0 #00ABFF;
          border-left-color: #91DBFF;
          background-color: transparent;
          &:before{
            opacity: 0.4;
            background-image: linear-gradient(269deg, rgba(117,182,219,0) 0%, #97DDFF 100%);
          }
        }
      }
      
    }
  }

  // button sign in in mobile
  .navbar-signin{
    @media (min-width: $screen-md-min){
      display: none;
    }
    margin: 8px 15px 8px 0;
    float: right;
    .fa{
      font-size: 1.2em;
      transform: translateY(2px);
    }
    &:focus{
      outline: none;
    }
    &:focus{
      outline: none;
    }
  }

  .navbar-toggle{
    border: 0;
    &:hover, &:focus{
      background-color: transparent;
    }

    .icon-bar{
      transition: all 300ms;
    }

    .icon-bar:nth-child(4){
      transform-origin: 4px -2px;
      transform: rotate(-45deg);
    }

    .icon-bar:nth-child(3){
      opacity: 0;
    }

    .icon-bar:nth-child(2){
      transform-origin: 3px 4px;
      transform: rotate(45deg);
    }

    &.collapsed {
      .icon-bar{
        transform: rotate(0deg);
      }
      .icon-bar:nth-child(3){
        opacity: 1;
      }
      .icon-bar:nth-child(4){
        width: 11px;
        margin-left: 11px;
      }
    }
  }

  .navbar-right{
    padding: 5px 20px;
    margin-right: 0;
    border-left: 1px solid #1d549c;
    li{
      &:after{
        content: "";
        display: block;
        position: absolute;
        height: 16px;
        width: 1px;
        top: 17px;
        right: 0;
        background-color: $dark-gray;
      }
      &:last-child:after{
        display: none;
      }
      &.nav-login:after {
        display: none;
      }
      a{
        cursor: pointer;
        color: #91DBFF;
        text-shadow: 0 -1px 13px #00ABFF;
        &:hover{
          text-shadow: 0 -1px 13px #00ABFF;
          // color: #30242F;
        }
      }
      &.nav-footer{
        display: none;
      }
    }
    @media (max-width: $screen-md-min) {
      li {
        border-bottom: none;
        padding-top: 55px;
        &.nav-login {
          > a {
            line-height: normal !important;
          }
        }
        &.nav-footer {
          display: block;
          padding-top: 22px;
          text-align: center;
          > p {
            color: #90bcdb;
            font-size: 12px;
          }
        }
      }
    }
  }
}
.mobile-strict-container{
  // position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1c1a27;
  text-align: center;
  min-width: 360px;
  @media (min-width: $screen-sm-min){
    min-width: 500px;
  }
  padding: 10px;
  visibility: hidden;
  img{
    margin-top: 30px;
    max-width:60px;
  }
  .close{
    color: #d0cccc;
    opacity: 1;
    text-shadow: none;
  }
}

.header-bg{
  position: absolute;
  width: 100vw;
  bottom: 0;
  top: 0;
}

// body class affect the nav in mobile version
@media screen and (max-width: $mobile-breakpoint){
  body{
    header{
      height: 61px;
      transition: height 300ms;
    }
    &.menu-opened{
      header{
        height: 100vh;
        background-position: bottom left;
        background-repeat: repeat-x;
        background-size: contain;
        background-image: url("/assets/images/menu-bg.png"), linear-gradient(0deg, #002D77 0%, #003A99 100%);
      }
    }
  }
}