.home-container{
  $o-color: #E37222;
  $w-color: #FFFFFF;
  $g-color: #d0cccc;

  padding-top: 20px;
  margin-bottom: 20px;
  color: rgba(255,255,255,0.8);
  font-size: 20px;
  line-height: 1.5em;

  .section-overview{
    padding: 50px 0;
    display: flex;
    align-items: center;
    
    p{
      letter-spacing: 0.25px;
    }
    h1{
      @include heading(36px);
      line-height: 1.4em;
    }
    img{
      max-width: 100%;
    }
  }

  .feed-block{
    background-color: #f1f9ff;
    border-radius: 4px;
    .feed-header{
      background-image: url("/assets/images/bg-pixel.png");
      background-position: top center;
      background-repeat: repeat-x;
      background-size: contain;
      padding: 20px 15px;
      border-bottom: 1px solid #d5dadf;
      display: flex;
      align-items: center;
      // &:after{
      //   content: "";
      //   display: block;
      //   clear: both;
      // }
      .feed-icon{
        // float: left;
        width: 55px;
        display: block;
      }
      h3{
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        color: #033C89;
        line-height: 28px;
      }
    }

    .feed-body{
      color: #52678D;
      padding: 0 15px;
    }
  }

  .parnter-block{
    h3{
      @include heading(24px);
    }
    .partner-main{
      padding: 30px 15px;
      display: flex;
      align-items: center;
      position: relative;
      &:after{
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(90deg, rgba(19, 151,216, 0) 0%, #19B7E7 50%, rgba(19, 151,216, 0) 100%);
      }
      .logo{
        flex: 1;
        width: 50%;
        float: left;
        text-align: center;
      }
      .name{
        flex: 1;
        width: 50%;
        float: left;
        font-size: 35px;
        color: #ACDEF6;
      }
    }
    .partners{
      display: flex;
    }
    .partner{
      flex: 1;
      padding: 30px 15px;
      position: relative;
      &:after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background-image: linear-gradient(180deg, #19B7E7 0%, rgba(19, 151,216, 0) 100%);
      }
      &:last-child:after{
        display: none;
      }
      .logo, .name{
        text-align: center;
      }
      .logo{
        height: 77px;
      }
      .name{
        font-size: 20px;
        font-weight: 600;
        color: #ACDEF6;
      }
    }
  }
}

.feed-item{
  padding: 15px 0;
  border-bottom: 1px solid #d5dadf;
  h3{
    font-size: 20px;
    font-weight: 600;
    color: #1A1A1A;
    line-height: 27px;
    margin: 0 0 10px 0;
  }
  p{
    font-size: 18px;
    color: #52678D;
    letter-spacing: 0.22px;
    line-height: 27px;
  }
  &-bottom{
    display: flex;
    justify-content: space-between;
    .date{
      font-size: 14px;
      color: #A6B0C1;
      text-transform: uppercase;
    }
    .read-more{
      font-family: ProximaNovaSoft-Medium;
      font-size: 18px;
      color: #F7862D;
      text-transform: uppercase;
    }
    .icon-date{
      margin-right: 5px;
      transform: translateY(2px);
    }
    .icon-readmore{
      margin-left: 5px;
    }
  }
}

.icon-date{
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url("/assets/images/icon-calendar.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-readmore{
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url("/assets/images/icon-orange-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}