$mobile-breakpoint: 991px;
.home-container{
  $o-color: #E37222;
  $w-color: #FFFFFF;
  $g-color: #d0cccc;

  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-bottom: 20px;
  color: rgba(255,255,255,0.8);
  font-size: 20px;
  line-height: 1.5em;

  .personal-msg {
    display: flex;
    margin: auto;
    .left-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: baseline;
      position: relative;
      padding: 40px 45px 30px 50px;
      border: 1px solid rgba(255,255,255,0.13);
      border-right: none;
      border-radius: 8px 0 0 8px;
      background: linear-gradient(0deg, #3CABE6 0%, rgba(24,109,194,0.41) 100%);
      .top-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 40px;
        background: url("/assets/images/doc-bg.png") center center no-repeat;
        background-size: cover;
      }
      .title {
        font-size: 24px;
        color: #B4E6FF;
        text-shadow: 0 1px 8px #00ABFF;
      }
      .text-tips {
        font-size: 20px;
        color: #FBFDFF;
      }
    }
    .right-container {
      border: 1px solid rgba(255,255,255,0.13);
      border-radius: 0 8px 8px 0;
      background: linear-gradient(0deg, #0073DB 0%, #0044A4 100%);
      box-shadow: 0 -6px 33px rgba(0,0,0,0.11);
      .data-item {
        display: flex;
        align-items: center;
        padding: 0 35px 0 23px;
        height: 80px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        &:last-child {
          border-bottom: none;
        }
        .item-icon {
          width: 27px;
          height: 27px;
          background: url("/assets/images/home-rank.png") center center no-repeat;
        }
        .item-info {
          margin-left: 15px;
          color: #FFFFFF;
          .item-title {
            line-height: 1;
            font-size: 14px;
            opacity: 0.6;
          }
          .item-data {
            margin-top: 8px;
            line-height: 1;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }
    @media (max-width: $mobile-breakpoint){
      padding-top: 60px;
      flex-direction: column;
      .left-container {
        border-radius: 8px 8px 0 0;
      }
      .right-container {
        border-radius: 0 0 8px 8px;
      }
    }
  }

  .section-overview{
    padding: 50px 0;
    p{
      letter-spacing: 0.25px;
    }
    h1{
      @include heading(36px);
      line-height: 1.4em;
    }
    img{
      max-width: 100%;
    }

    @media (max-width: $screen-sm-max){
      text-align: center;
      p{
        font-size: 18px;
      }
      h1{
        font-size: 28px;
      }
      img{
        margin-top: 30px;
      }
    }
    @media (min-width: $screen-md-min){
      display: flex;
      align-items: center;
    }
  }

  .feed-block{
    background-color: #f1f9ff;
    border-radius: 4px;
    @media (max-width: $screen-sm-max){
      margin-top: 30px;
    }
    .feed-header{
      background-image: url("/assets/images/bg-pixel.png");
      background-position: top center;
      background-repeat: repeat-x;
      background-size: contain;
      padding: 20px 15px;
      border-bottom: 1px solid #d5dadf;
      display: flex;
      align-items: center;
      // &:after{
      //   content: "";
      //   display: block;
      //   clear: both;
      // }
      .feed-icon{
        // float: left;
        width: 55px;
        display: block;
      }
      h3{
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        color: #033C89;
        line-height: 28px;
        margin-left: 10px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .feed-body{
      color: #52678D;
      padding: 0 15px;
    }
  }

  .parnter-block{
    h3{
      @include heading(24px);
      @media screen and (max-width: $screen-sm-max) {
        text-align: center;
      }
    }
    .partner-main{
      padding: 30px 15px;
      display: flex;
      align-items: center;
      position: relative;
      &:after{
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(90deg, rgba(19, 151,216, 0) 0%, #19B7E7 50%, rgba(19, 151,216, 0) 100%);
      }
      .logo{
        flex: 1;
        width: 50%;
        float: left;
        text-align: center;
      }
      .name{
        flex: 1;
        width: 50%;
        float: left;
        font-size: 35px;
        color: #ACDEF6;
      }
    }
    .partners{
      display: flex;
    }
    .partner{
      flex: 1;
      padding: 30px 15px;
      position: relative;
      &:after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background-image: linear-gradient(180deg, #19B7E7 0%, rgba(19, 151,216, 0) 100%);
      }
      &:last-child:after{
        display: none;
      }
      .logo, .name{
        text-align: center;
      }
      .logo{
        height: 77px;
      }
      .name{
        font-size: 20px;
        font-weight: 600;
        color: #ACDEF6;
      }
    }
  }
}

.feed-item{
  padding: 15px 0;
  border-bottom: 1px solid #d5dadf;
  h3{
    font-size: 20px;
    font-weight: 600;
    color: #1A1A1A;
    line-height: 27px;
    margin: 0 0 10px 0;
  }
  p{
    font-size: 18px;
    color: #52678D;
    letter-spacing: 0.22px;
    line-height: 27px;
  }
  &-bottom{
    display: flex;
    justify-content: space-between;
    .date{
      font-size: 14px;
      color: #A6B0C1;
      text-transform: uppercase;
    }
    .read-more{
      font-size: 18px;
      color: #F7862D;
      text-transform: uppercase;
    }
    .icon-date{
      margin-right: 5px;
      transform: translateY(2px);
    }
    .icon-readmore{
      margin-left: 5px;
    }
  }
}

.icon-date{
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url("/assets/images/icon-calendar.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-readmore{
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url("/assets/images/icon-orange-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
