.leaderboard-container {
  $o-color: #E37222;
  $w-color: #FFFFFF;
  $g-color: #9d9d9d;
  @media (max-width: $screen-llg-min){
    .table  tr  th {
      padding: 12px 7px !important;
    }
  }

  .panel-statistic, .panel-heading {
    position: relative;
    padding-top: 20px !important;
    .xline.xline-top {
      background-color: rgba(40, 248, 255,0.2);
    }
    h4.title-h4 {
      margin-top: 0;
      font-size: 24px !important;
      font-weight: 500 !important;
      color: #B4E6FF;
      text-shadow: 0 1px 9px #0098E3;
    }
  }

  .panel-statistic {
    margin-bottom: 20px;
    .statistic-box {
      display: flex;
      align-items: center;
      .box-item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 38px;
        padding: 25px 0;
        border-radius: 4px;
        background: linear-gradient(180deg, #EDF6FF 0%, #FFFFFF 100%);
        &:first-child {
          margin-left: 0;
        }
        .icon {
          width: 50px;
          height: 50px;
        }
        &.player {
          .icon {
            background: url('/assets/images/analytics.png') center center no-repeat;
          }
        }
        &.organizations {
          .icon {
            background: url('/assets/images/chart-2.png') center center no-repeat;
          }
        }
        &.countries {
          .icon {
            background: url('/assets/images/globe.png') center center no-repeat;
          }
        }
        .statistic-data {
          margin-left: 20px;
          .num {
            font-size: 28px;
            font-weight: 500;
            color: #033C89;
          }
          .data-title {
            font-size: 18px;
            color: #1B1B1B;
          }
        }
      }
    }
  }

  .table-container {
    overflow-x: auto !important;
  }

  .zero-state-pane{
    text-align: center;
    font-size: 0.9em;

    img{
      width: 50px;
    }

    .zero-state-title{
      font-size: 1.1em;
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
  }

  .country-img {
    width:30px;
    height: auto;
    max-width: 100%;
  }

  .c-org{
    color: $o-color;
  }
  .c-wht{
    color: $w-color;
  }
  .c-gry{
    color: $g-color;
  }
  .c-yel{
    color: $yellow;
  }

  .d1{
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  .t1{
    font-size: 6rem;
    letter-spacing: 2px;
  }
  .t2{
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  .t3{
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .t4{
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  .mgt-10{
    margin-top: 10px;
  }

  .form-header {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    position: relative;

    .filter-handler {
      line-height: 38px;
      margin-bottom: 10px;
      > *{
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
      }
      .v-select{
        display: inline-block;
        vertical-align: middle;
        min-width: 250px;
      }
      .form-group{
        margin-bottom: 0;
      }
      .handler-item {
        display: inline-block;
        background-color: #000;
        padding: 0 15px;

        .handler-item-img {
          vertical-align: baseline;
          font-size: 90%;
        }
        .handler-item-text {
          margin-left: 5px;
        }
      }
      > a{
        vertical-align: middle;
        color: $foreground;
        cursor: pointer;
        &:hover{
          text-decoration: none;
          color: $yellow;
        }
      }
    }
  }

  a{
    color: $yellow;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      color: $yellow-hover;
      text-decoration: underline;
    }
  }
  .leaderboard-filter-form {
    .filter-group {
    }

    .form-control {
      margin-right: 15px;
    }

    .filter-group{
      .input-group{
        display: block;
        @media (min-width: $screen-sm-min){
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          > .form-control{
            min-width: 0;
            flex: 1;
          }
          .btn{
            margin-top: 3px;
          }
        }
        > *{
          display: block;
          margin-bottom: 10px;
          @media (min-width: $screen-sm-min){
            margin-bottom: 0;
          }
        }
        .dropdown {
          margin-right: 24px;
          min-height: 40px;
          border-radius: 4px;
          border: 1px solid #475F92;
          box-shadow: 6px 17px 29px rgba(23,174,219,0.05);
          background-color: rgba(255,255,255,0.08);
          &:last-child {
            margin-right: 0;
          }
          &.open {
            border: 1px solid #91DBFF;
          }
          .dropdown-toggle {
            background:none;
            &::-webkit-scrollbar {
              display: none;
            }
            &::after {
              content: "";
              display: inline-block;
              position: absolute;
              top: 50%;
              right: 15px;
              transform: translateY(-50%);
              width: 0;
              height: 0;
              border-top: 4px solid #FFFFFF;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              visibility: visible;
            }
            .vs__selected-options {
              .selected-tag {
                display: flex;
                align-items: center;
                padding: 8px 6px;
                font-size: 14px;
                background-color: #0049B9;
                .close {
                  position: relative;
                  margin-left: 15px;
                  color: #FFFFFF;
                  opacity: 1;
                }
              }
            }
            .form-control {
              padding-left: 15px;
              height: 30px;
              &::-webkit-input-placeholder {
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }

  }

  .leaderboard-table-stats{
    @media (min-width: $screen-sm-min){
      display: flex;
    }
  }

  .leaderboard-page {
    margin: 30px 0 50px;
  }

  .v-select.dropdown{
    // align-self: flex-start;
    .selected-tag + .form-control{
      max-width: 50px;
    }
    .dropdown-toggle{
      max-height: 94px;
      overflow-y: auto;
      .selected-tag{
        max-width: 150px;
        padding-right: 25px;
        display: inline-block;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        .close{
          position: absolute;
          right: 6px;
          top: 2px;
        }
      }
    }

    &:last-of-type{
      margin-right: 0px;
    }
  }

  .leaderboard-table {
    > tbody > tr > td {
      vertical-align: middle;
    }
  }

  .tier-td > span {
    display: block;
    height: 24px;
  }
}

.leaderboard-summary{
  margin-bottom: 50px;
  @media (min-width: $screen-sm-min){
    display: flex;
    > div{
      display: flex;
      flex-flow: column;
      > div{
        flex: 1;
      }
    }
  }
}

.leaderboard-stats, .leaderboard-explore{
  background-color: #FFF;
  padding: 20px;
}
.leaderboard-explore{
  text-align: center;
  >p{
    margin-bottom: 20px;
  }
  .img-responsive{
    margin: 0 auto;
  }
}

.leaderboard-nav-tabs{
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.leaderboard-stats{
  $header-color: $foreground;
  $body-color: #C2D1D0;
  .stat-item{
    display: flex;
    flex: 1;
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0
    }
    @media (min-width: $screen-sm-min){
      justify-content: center;
      margin-bottom: 0;
    }
    &-icon{
      margin-right: 15px;
      font-size: 30px;
      color: #63CECA;
    }
    &-content{

    }
    &-value{
      font-size: 36px;
      line-height: 1em;
      letter-spacing: 1px;
      margin-bottom: 0;
    }
    &-caption{
      font-size: 14px;
      line-height: 1em;
      letter-spacing: 0.5px;
      margin-bottom: 0;
      width: 100px;
    }
    &-sm{
      .stat-item-icon{
        font-size: 30px;
      }
      .stat-item-value{
        font-size: 24px;
      }
      .stat-item-caption{
        font-size: 14px;
      }
    }
  }
  &-row-1{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #363347;

    @media (min-width: $screen-sm-min){
      display: flex;
    }
    .stat-item{
      @media (min-width: $screen-sm-min){
        border-right: 1px solid #363347;
        &:last-child{
          border-right: 0;
        }
      }
    }
    .stat-item-icon{
      font-size: 30px;
    }
  }
  &-row-2{
    @media (min-width: $screen-sm-min){
      display: flex;
    }
  }
}
