.login-section {
    .login-choices {
        display: flex;

        .login-choice {
            flex: 1;
            margin: 1em;
            padding: 1em;
            display: block;
            height: 5em;
            border: 1px solid #ccc;
            box-shadow: 0 1px 5px #ccc;
            color: inherit;
            line-height: 3em;

            img {
                height: 100%;
            }

            i.fa {
                font-size: 3em;
                vertical-align: middle;
            }
        }
    }
}
