.breadcrumb{
  list-style: none;
  list-style-image: none;
  background: none;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 0;

  li{
    display: inline-block;
    background-image: url("/assets/images/tail-triangle-right.svg");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 30px;
    &:before{
      content: "";
      display: none;
    }
    &:last-child{
      background-image: none;
      padding-right: 0;
    }
    &:first-child{
      a, > span{
        padding-left: 0;
      }
    }
    a, > span{
      display: block;
      padding: 0 10px;
      color: $foreground;
    }
  }
}

.list-ha{
  padding-left: 0;
  @media (max-width: $screen-sm-max){
    display: none;
  }
  > li{
    display: block;
    position: relative;
    > a, > span{
      font-weight: regular;
      font-size: 20px;
      color: $foreground;
      text-shadow: 0 1px 8px #00ABFF;
      padding: 10px 0;
      display: block;
      line-height: 1.3em;
      text-transform: uppercase;
      text-decoration: none;
      > span{
        padding: 5px 0 10px 0;
        display: inline-block;
      }
      &:after{
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(90deg, #19B7E7 0%, rgba(24,181,230,0.00) 100%);
      }
    }

  }
}

.sub-list-ha{
  padding-left: 27px;
  padding-bottom: 10px;
  li{
    display: block;
    position: relative;
    opacity: 0.6;
    // padding-left: 20px;
    &:before{
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-color: $foreground;
      position: absolute;
      left: -26px;
      top: 8px;
      color: $foreground;
    }
    a{
      display: block;
      font-size: 13px;
      color: $foreground;
      letter-spacing: 1px;
      padding: 5px 0;
      text-transform: uppercase;
      text-decoration: none;
    }
    &.active{
      opacity: 1;
      a{
        text-shadow: 0 1px 8px #00ABFF;
      }
      &:before{
        box-shadow: 0 1px 8px #00ABFF;
      }
    }
    &:hover{
      opacity: 1;
      a{
        text-shadow: 0 1px 8px #00ABFF;
      }
      &:before{
        box-shadow: 0 1px 8px #00ABFF;
      }
    }
  }
}

.responsive-toc-nav{
  margin-bottom: 40px;
  position: relative;
  @media (min-width: $screen-md-min){
    display: none;
  }

  .current-nav-item{
    display: block;
    background: #001E51;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
    width: 100%;
    border: 0 solid transparent;
    padding: 0 15px;
    background-image: url("/assets/images/select-arrow.svg");
    background-size: 12px auto;
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-size: 18px;
    text-transform: uppercase;
    color: #F2FAFD;
    margin-bottom: 1px;
  }
  ul.select-nav{
    // display: block;
    padding: 0;
    border-radius: 4px;
    background: #001E51;
    z-index: 10;
    position: absolute;
    top: 100%;
    margin-top: 1px;
    width: 100%;
    overflow: hidden;
    li{
      display: block;
      font-size: 18px;
      text-transform: uppercase;
      // height: 50px;
      border-bottom: 0 solid transparent;
      position: relative;
      @include after-block();
      a{
        display: block;
        color: #F2FAFD;
        padding: 0 15px;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
      }
      &.active a{
        background: #08337C;
      }
      &:after{
        height: 1px;
        bottom: 0;
        top: auto;
        background-image: linear-gradient(90deg, #19B7E7 0%, rgba(0,0,0,0) 100%);
      }
      &:last-child:after{
        display: none;
      }
    }
  }
}