
.table-container{
  width: auto;
}

.table, .doc-section table{
  @media screen and (min-width: $screen-md-min) {
    width: 100%;
  }
  > thead{
    > tr{
      background: #f1f3f7;
      > th, >td{
        padding: 12px 7px;
        font-size: 12px;
        color: #343434;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
  > tbody{
    > tr{
      > td{
        border-bottom: 1px solid #DBDDDF;
        padding: 12px 7px;
        font-size: 14px;
        a{
          font-weight: 600;
          color: #033C89;
        }
      }
    }
  }
}

.table-leader{
  width: 100%;
  > thead > tr > th,
  > tbody > tr > td{
    padding: 8px 15px;
    vertical-align: top;
    border-top: 0;
    border-bottom: 0;
  }
  > thead > tr,
  > tbody > tr{
    border-top: 1px solid #363347;
    border-bottom: 1px solid #363347;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  > thead > tr > th + th,
  > tbody > tr > td + td{
    border-left: 1px solid #363347;
  }
  > thead > tr > th{
    background-color: #FFF;
    font-size: 14px;
    font-weight: 400;
  }
  > tbody > tr > td{
    background-color: #FFF;
  }

  > tbody > tr > td{
    [class*="icon-tier-"]{
      color: #E37222;
      font-size: 24px;
    }
  }

  a:hover{
    color: $yellow;
  }

  > tbody > tr.hl{
    td {
      border-top: 1px solid $yellow;
      border-bottom: 1px solid $yellow;
    }
    td:first-child{
      border-left: 1px solid $yellow;
    }
    td:last-child{
      border-right: 1px solid $yellow;
    }
  }

  .hide-mobile{
    @media (max-width: $screen-sm-max){
      display: none;
    }
  }

  .nowrap {
    white-space: nowrap;
  }
}
