.user-profile {
  position: relative;
  margin-top: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  .bg-img {
    width: 100%;
    height: 30px;
    background: url("/assets/images/bg-pixel.png") center center no-repeat;
    background-size: cover;
  }
  h1,
  h2,
  h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  h2 {
    font-family: $font-heading;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 15px;
  }
  a {
    color: #0c0c0c;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $yellow-hover;
      text-decoration: underline;
    }
  }
  .xline {
    background-color: rgba(8, 27, 83, 0.1);
    &:before,
    &:after {
      display: none;
    }
  }
  &-edit-link {
    position: absolute;
    top: 23px;
    margin-top: 10px;
    right: 0;
    cursor: pointer;
    &:hover {
      font-size: 1.8rem;
    }
  }
  &-avatar {
    padding-top: 40px;
    position: relative;
    .img-responsive {
      width: 80px;
      height: 80px;
      border-radius: 12px;
    }
  }
  &-detail {
    padding: 15px 0;
    position: relative;
    opacity: 0.8;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: center;
    h1 {
      font-size: 28px;
      letter-spacing: 1px;
      font-family: $font-heading;
      text-transform: uppercase;
    }
    p {
      margin: 10px 0 0 0;
      font-size: 16px;
      color: #011c4e;
    }
  }
  &-badge {
    padding: 20px 0;
    position: relative;
    font-size: 16px;
    letter-spacing: 0.5px;
    &-page {
      position: absolute;
      top: 15px;
      right: 0;
      img {
        height: 18px;
        margin-left: 5px;
        cursor: pointer;
      }
    }
    &-content {
      overflow: hidden;
    }
    &-list {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      white-space: nowrap;
      li {
        display: inline-block;
        margin-right: 20px;
        img {
          width: 45px;
        }
      }
    }
    &-button {
      display: block;
      margin-top: 20px;
      text-align: center;
      cursor: pointer;
      img {
        height: 40px;
      }
    }
  }
  &-rank {
    position: relative;
    text-align: center;
    span[class*="icon"] {
      color: $player-3;
      vertical-align: middle;
    }
    .ranking-type {
      display: flex;
      align-items: center;
      border-top: 1px solid rgba(8, 27, 83, 0.1);
      border-bottom: 1px solid rgba(8, 27, 83, 0.1);
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 73px;
        text-align: left;
        &.individual {
          border-right: 1px solid rgba(8, 27, 83, 0.1);
        }
        .lvl-icon {
          margin-right: 15px;
        }
        .type-title {
          color: #1b1b1b;
          opacity: 0.6;
        }
        .lvl {
          color: #0c0c0c;
        }
      }
    }

    .highest-rank {
    }
  }

  .user-profile-rank-stats, .past-year-stats {
    .stats-item {
      margin-top: 18px;
    }
  }

  &-rank-stats, .past-year-stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 95px;
    border-radius: 6px;
    .stats-item {
      .title {
        font-size: 14px;
        color: #343434;
        opacity: 0.7;
      }
      > p {
        margin: 0;
        color: #0c0c0c;
        font-size: 34px;
      }
    }
  }

  .past-year-stats {
      position: relative;
  }

  &-about {
    position: relative;
    padding: 20px 0;
    text-align: center;
    p {
      margin-bottom: 0;
    }
  }
  .user-efficiency {
    .title {
      margin-top: 20px;
      text-align: center;
      color: #0c0c0c;
      font-size: 18px;
    }
    .chart-container {
      margin-top: 15px;
      padding: 24px 36px;
      .data-distribution {
        position: relative;
        padding: 0 0 20px;
        .data-line {
          height: 6px;
          background-color: #e3e7ea;
        }
        .scale {
          position: absolute;
          top: -22px;
          font-size: 12px;
          color: #8c8c8c;
          &.min-line, &.max-line {
              top: -4px;
          }
          &.min-line {
              left: -20px;
          }
          &.max-line {
              right: -32px;
          }
          &.tire-line,
          &.user-line,
          &.all-play-line {
              transition: left ease-out 0.3s;
              transition-delay: 1s;
            &::after {
              content: "";
              display: inline-block;
              position: absolute;
              left: 50%;
              top: 19px;
              width: 12px;
              height: 12px;
              border-radius: 6px;
              transform: translateX(-50%);
            }
          }
          &.tire-line {
            color: #08b5ff;
            &::after {
              background-color: #08b5ff;
            }
          }
          &.user-line {
            color: #e37222;
            top: 12px;
            &::after {
              background-color: #e37222;
              top: -15px;
            }
          }
          &.all-play-line {
            color: #ffc235;
            &::after {
              background-color: #ffc235;
            }
          }
        }
      }
      .data-name {
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
          margin-left: 45px;
          font-size: 16px;
          color: rgba(12, 12, 12, 0.8);
          &::before {
            content: "";
            display: inline-block;
            margin-right: 8px;
            width: 12px;
            height: 12px;
            border-radius: 6px;
          }
          &.tire {
            margin-left: 0;
            &::before {
              background-color: #08b5ff;
            }
          }
          &.user-name {
            &::before {
              background-color: #e37222;
            }
          }
          &.all-play {
            &::before {
              background-color: #ffc235;
            }
          }
        }
      }
    }
  }
}

.user-profile-avatar {
  text-align: center;
  img {
    display: inline;
    max-width: 160px;
    max-height: 161px;
    @media (min-width: $screen-md-min) {
      max-width: 229px;
      max-height: 230px;
    }
  }
}

.user-profile-detail {
    .title {
        text-align: center;
        color: #0c0c0c;
        font-size: 28px;
        font-family: $font-heading;
    }

  .user-name {
    font-size: 28px;
    color: #0c0c0c;
    font-family: $font-heading;
    font-weight: 600;
  }

  .user-team {
    font-size: 1.5em;
    font-family: $font-heading;
  }
}

.user-team-detail {
  position: relative;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
}

.stats-1-section {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  h3 {
    margin-top: 0;
  }
}

.tab-content {
  padding-top: 15px;
  .tab-pane {
    padding: 0;
    .profile-section {
      position: relative;
      margin-top: 30px;
      .btn-group {
        display: block;
        button {
          float: none;
        }
      }

      .game-participant {
        white-space: nowrap;
        display: inline-block;
        margin-right: 18px;
        > img {
          width: 28px;
          height: 28px;
          border-radius: 4px;
        }
        > span {
          margin-left: 3px;
        }
      }

      .timed-out {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-color: red;
      }

      .table-leader {
        border-radius: 4px;
        overflow: hidden;
        &.high-index {
          z-index: 1;
        }
        tr {
          height: 56px;
          border: none;
          .little-pd {
            padding-left: 20px;
          }
          .large-pd {
            padding-left: 40px;
          }
        }
        thead > tr > th {
          position: relative;
          padding-top: 0;
          padding-bottom: 0;
          line-height: 56px;
          border: none;
          background-color: rgba(2, 30, 82, 0.05);
          &::before,
          &::after {
            content: "";
            position: absolute;
            display: inline-block;
            background-color: rgba(8, 27, 83, 0.1);
          }
          &::before {
            top: 0;
            right: 0;
            width: 2px;
            height: 100%;
          }
          &::after {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
          }
        }
        tbody > tr > td {
          position: relative;
          padding: 0;
          line-height: 56px;
          font-size: 16px;
          color: #444444;
          background-color: #f9fcff;
          border: none;
          &::before,
          &::after {
            content: "";
            position: absolute;
            display: inline-block;
            background-color: rgba(8, 27, 83, 0.1);
          }
          &::before {
            top: 0;
            right: 0;
            width: 2px;
            height: 100%;
          }
          &::after {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
          }
          &.watch {
            > a {
              color: #011c4e;
            }
          }
          &.td-title {
            > a {
              color: #343434;
            }
          }
          &:first-child {
            color: #343434;
          }
          .video-icon,
          .tropy-icon {
          }
          .video-icon {
            display: inline-block;
            position: relative;
            top: 3px;
            margin-right: 14px;
            width: 18px;
            height: 16px;
            background: url("/assets/images/video-icon.png") center center
              no-repeat;
            background-size: cover;
          }
          .tropy-icon {
            display: inline-block;
            position: relative;
            top: 3px;
            margin-right: 12px;
            width: 16px;
            height: 16px;
            background: url("/assets/images/tropy-icon.png") center center
              no-repeat;
            background-size: cover;
          }
        }
        tbody > tr > td.old-bot-odd {
          background-color: #f9fcff;
        }
        tbody > tr > td.old-bot-even {
          background-color: #f9fcff;
        }
        tbody > tr > td.challenge {
          background-color: #f9fcff;
        }
        .winner {
          color: #20a257;
        }
      }
      a {
        color: $yellow;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: $yellow-hover;
          text-decoration: underline;
        }
      }
      h2 {
        position: relative;
        display: block;
        margin: 0 0 17px;
        position: relative;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 1px;
      }
      .xline-bottom {
        position: relative;
        margin-top: 30px;
        background-color: #f0f8ff;
        opacity: 0.2;
        &::before,
        &::after {
          display: none;
        }
      }

      &-hackathon {
        .form-inline-button {
          background-color: transparent;
          input {
            flex: 1;
            color: #fff;
            background-color: #000;
            border: 0;
            padding: 0 10px;
          }
          .btn {
            letter-spacing: 1px;
          }
          @media (max-width: $screen-sm-max) {
            margin-bottom: 10px;
          }
        }
      }
      &-right-form {
        @media (min-width: $screen-sm-min) {
          position: absolute;
          right: 0;
          top: 27px;
          width: 356px;
        }
      }
      .ha-button-container {
        text-transform: uppercase;
        font-weight: bold;
        .fa {
          background: $dark-gray;
          color: $yellow;
          padding: 3px 2px;
          margin-right: 5px;
          font-size: 14px;
        }
      }
      .section-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h2 {
          margin: 15px 0 0;
          font-size: 20px;
          color: #97ddff;
          font-weight: 600;
          text-shadow: 0 1px 8px #00abff;
        }
        p {
          color: #c2d1d0;
          margin-bottom: 30px;
        }
        [class*="icon"] {
          color: $yellow;
          max-width: 60px;
          margin: 10px 0;
        }
      }
      .history-section {
        &-list {
          background-color: #1c1a27;
          padding: 20px;
          margin-bottom: 10px;
          .icon-state {
            width: 30px;
            transform: translateY(-15px);
            margin-right: 20px;
          }
          a {
            position: absolute;
            right: 20px;
          }
          div {
            display: inline-block;
            position: relative;
            .icon-xs-state {
              margin-left: 10px;
            }
            h2 {
              margin: 0;
              padding-bottom: 5px;
            }
            p {
              color: #c2d1d0;
              margin: 0;
            }
          }
        }
      }
      .user-profile-rank-stats {
        background-color: #f0f8ff;
        .stats-item {
          flex: 1;
          height: 100px;
          border-right: 1px solid rgba(151, 151, 151, 0.3);
          &:last-child {
            border-right: none;
          }
          > h3 {
            margin: 22px 0 0;
            font-size: 17px;
            color: #0c0c0c;
            font-weight: 600;
            line-height: 17px;
            font-family: $font-body;
          }
          > p {
            margin: 6px 0 0;
            color: #003386;
            font-size: 34px;
            font-weight: 500;
            font-family: $font-heading;
            line-height: 41px;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}

.table-sticky-container {
  position: relative;
  .table-sticky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    tr {
      border-bottom: 0;
    }
  }
  .table-wrapper {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 500px;
    border-radius: 4px;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .table {
    margin: 0;
  }
}

.info-icon {
  font-size: 16px;
  margin-top: 5px;
  min-width: 40px;
}

.info-icon-trophy {
  font-size: 14px;
  min-width: 20px;
  display: inline-block;
  vertical-align: middle;
  color: #e37222;
}

.warning {
  color: #e37222;
}

.tab-container {
  margin-left: 40px;
  margin-top: 40px;
  @media (max-width: $screen-xs-max) {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.btn.challenge-btn {
  display: flex;
  align-items: center;
  margin-top: 24px;
  padding: 13px;
  height: 44px;
  min-width: 220px;
  border-radius: 4px;
  background: linear-gradient(
    179.96deg,
    #6ed6ff 0%,
    #20aef5 41.51%,
    #0f8de8 76.79%,
    #0070dc 100%
  );
  &.right-btn {
    position: absolute;
    top: -11px;
    right: 0;
    margin-top: 0;
  }
  > span {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 0 1px 8px #00abff;
  }
  &:after {
    content: "";
    display: inline-block;
    margin: -4px 0 0 10px;
    width: 12px;
    height: 18px;
    background: url("/assets/images/icons/pixelate-arrow.png") center center
      no-repeat;
    background-size: cover;
  }
}
